# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

node_modules
.DS_Store
.env
.env.local

# Editor files
.vscode
.idea
*.swp

# Large Media & Torrents
server/data/audiobook_torrents/
server/data/ebooks/
SHELF HELP/
*.mp3
*.m4b
*.zip
*.cbz
*.cbr

